<div class="container mx-auto flex-col flex max-w-[980px] p-6">
  <div class="mb-2">
    <%= render_button text: t(".back"), variant: :ghost, as: :link, href: vehicles_path %>
  </div>
  <%= render 'form', vehicle: @vehicle, title: t(".title"), submit_text: t(".submit") %>
</div>